
body{ /* Normal  */
      font-size: 14px;
  }
td {  /* Table  */
  font-size: 8px;
}
.title {
  font-size: 38px;
  color: Black;
}
h1 { /* Header 1 */
  font-size: 28px;
  color: DIMGRAY;
}
h2 { /* Header 2 */
    font-size: 22px;
  color: GRAY;
}
h3 { /* Header 3 */
  font-size: 18px;
  color: DARKGRAY;
}
h4 { /* Header 4 */
    font-size: 16px;
  color: SILVER;
}
.r{ /* Code block */
    font-size: 12px;
}
pre { /* Code block - determines code spacing between lines */
    font-size: 14px;
}
